Build/
Bin/imgui.ini
Bin/12_Serialize_SerializeFile.json
Bin/12_Serialize_SerializeFile.sav
Bin/12_Serialize_SerializeFile.dat
*.pdb
*.ilk
*.exe
*.dll
.vs

Bin/textures/
Bin/shaders/
Bin/meshes/
Bin/images/
Bin/font/
Bin/text/
Bin/tvos-info.plist
Bin/osx-info.plist
Bin/ios-info.plist
Bin/gamecontrollerdb.txt
