Source/ThirdParty/* linguist-vendored
*.h linguist-language=C++
*.frag linguist-language=GLSL
*.vert linguist-language=GLSL
*.vs linguist-language=HLSL
*.ps linguist-language=HLSL
CMakeLists.txt linguist-language=CMake