.vs/
*.tlog
*.idb
x64/
AutoEngine/ThirdParty/SDL/Build/CMakeFiles/
AutoEngine/ThirdParty/Assimp/code/assimp.dir/
AutoEngine/ThirdParty/Assimp/contrib/irrXML/IrrXML.dir/Debug/IrrXML.log
AutoEngine/ThirdParty/Assimp/contrib/zlib/zlib.dir/Debug/gzclose.obj
AutoEngine/ThirdParty/Assimp/contrib/zlib/zlib.dir/Debug/gzread.obj
AutoEngine/ThirdParty/Assimp/contrib/zlib/zlib.dir/
AutoEngine/ThirdParty/Assimp/contrib/zlib/zlibstatic.dir/
AutoEngine/ThirdParty/Assimp/test/models/invalid/malformed.obj
AutoEngine/ThirdParty/Assimp/test/
EmptyProject/Debug/
*.obj
*.log
*.pdb
AutoEngine/ThirdParty/OpenAL/build/Debug/alrecord.exe
AutoEngine/ThirdParty/OpenAL/build/Debug/
AutoEngine/ThirdParty/Assimp/samples/bin/
*.lib
AutoEngine/ThirdParty/Assimp/CMakeFiles/
AutoEngine/ThirdParty/Assimp/bin/
AutoEngine/ThirdParty/OpenAL/build/CMakeFiles/
AutoEngine/ThirdParty/OpenAL/build/native-tools/CMakeFiles/
