
Build/.vs/
Build/AutoEngine/Source/Auto3D.dir/Debug/Ambient.obj
Build/AutoEngine/Source/Auto3D.dir/
Build/AutoEngine/ThirdParty/Assimp/code/Assimp.dir/
Build/AutoEngine/ThirdParty/Box2D/Box2D.dir/
Build/AutoEngine/ThirdParty/Box2D/Debug/
Build/AutoEngine/ThirdParty/Assimp/code/Debug/
*.obj
*.tlog
*.pdb
Build/CMakeFiles/
*.cmake
*.lib
*.log
*.exp
Build/bin/
*.stamp
*.depend
Build/AutoEngine/ThirdParty/OpenAL/native-tools/CMakeFiles/
